
<!DOCTYPE html>
<html>
<head>
    <title>Post Detail</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Created on: {{ post.created_on }}</p>

    {% if user.is_authenticated %}
        <a href="{% url 'post-delete' post.slug %}">Delete Post</a>
        <a href="{% url 'post-edit' post.slug %}">Edit Post</a>
    {% endif %}


    <h2>Comments:</h2>
    <ul>
        {% for comment in post.comment_set.all %}
            <li>{{ comment.author_username }} - {{ comment.created_at }}:</li>
            <p>{{ comment.content }}</p>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'comment' post.slug %}">Add Comment</a>
    <a href="{% url 'post-list' %}">Back to post list</a>
</body>
</html>



