<!DOCTYPE html>
<html>
<head>
    <title>Post Detail</title>
</head>
<body>
    <h1>{{ serializer.title }}</h1>
    <p>{{ serializer.content }}</p>
    <p>Created on: {{ serializer.created_on }}</p>

    {% if user.is_authenticated %}
        <a href="{% url 'post-delete' serializer.slug %}">Delete Post</a>
        <a href="{% url 'post-edit' serializer.slug %}">Edit Post</a>
    {% endif %}


    <h2>Comments:</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.author_username }} - {{ comment.created_at }}:</li>
            <p>{{ comment.content }}</p>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'comment' serializer.slug %}">Add Comment</a>
    <a href="{% url 'post-list' %}">Back to post list</a>
</body>
</html>
