{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This blog is made with full stack Framework 'Django', forked from given take-home project. See my github project page:</p>
        <a href="https://github.com/Iam88Justin/blog-platform"
           class="btn btn-danger">Github Project</a>
    </div>
</div>
</div>

{% endblock sidebar %}